version: 2.1
jobs:
  build:
    docker:
      - image: node:10 # Where the build happens
    steps:
      - checkout # check out the code in the project directory
      - run:
          name: install node modules
          command: npm install
      - run:
          name: install firebase tools
          command: npm install --save-dev firebase-tools
      - run:
          name: ensure functions functional!
          command: cd functions && npm install
      - run:
          name: build react app(s)
          command: npm run build
  deploy:
    docker:
      - image: node:10
    steps:
      - run:
          name: Deploy Master to Firebase
          command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_CI_TOKEN

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
