body {
  background-color: #ffffff;
}

.ui.white {
  background-color: #ffffff;
  color: #000000;
}

.ui.blue {
  background-color: #304cb2;
  color: #fff;
}

.ui.red {
  background-color: #d5152e;
  color: #fff;
}

.ui.yellow {
  background-color: #ffbf27;
  color: #fff;
}

.ui.deepSilver {
  background-color: #5e7e95;
  color: #fff;
}

.ui.turquoise {
  background-color: #00a9e0;
  color: #fff;
}

.ui.green {
  background-color: #008522;
  color: #fff;
}

.ui.orange {
  background-color: #ff792e;
  color: #fff;
}

.ui.midnightBlue {
  background-color: #111b40;
  color: #fff;
}

.ui.darkBlue {
  background-color: #1a2c80;
  color: #fff;
}

.ui.header {
  display: flex;
  margin: 0px;
}
